<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ccm_playlist.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0A6142419AC166D1F03033DB8E67E814326905F3</string>
				<key>dateExpires</key>
				<string>9/3/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A6142419AC166D1F03033DB8E67E814326905F3</string>
						<key>dateExpires</key>
						<string>9/3/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8EJCW7TAMP</string>
						<key>name</key>
						<string>Yonghyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A6142419AC166D1F03033DB8E67E814326905F3</string>
						<key>dateExpires</key>
						<string>9/3/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8EJCW7TAMP</string>
						<key>name</key>
						<string>Yonghyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A6142419AC166D1F03033DB8E67E814326905F3</string>
						<key>dateExpires</key>
						<string>9/3/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8EJCW7TAMP</string>
						<key>name</key>
						<string>Yonghyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A6142419AC166D1F03033DB8E67E814326905F3</string>
						<key>dateExpires</key>
						<string>9/3/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8EJCW7TAMP</string>
						<key>name</key>
						<string>Yonghyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8EJCW7TAMP.com.edenael.GosIsAlive</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8EJCW7TAMP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0f4e544f-8bdf-4ede-ae82-fc3ae732996c</string>
				<key>dateExpires</key>
				<string>9/3/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.edenael.GosIsAlive</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8EJCW7TAMP</string>
				<key>name</key>
				<string>Yonghyun Kim</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
